body {
    margin: 0;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
}
nav a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: darkred;
}

/*Main*/
main{
    margin: 10px;
}